* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.box > img {
  width: 100%;
  height: 100vh;
}

div.continer {
  width: 35%;
  height: 700px;
  background-color: rgba(135, 207, 235, 0.446);
  border: 2px solid gray;
  position: absolute;
  top: 20px;
  left: 33%;

  
}
.city {
  width: 70%;
  height: 55px;
  border-radius: 15px;
 top: 35px;
 left: 25%;
 position: absolute;
  border: unset;
  font-size: 20px;
  font-family: sans-serif;
  box-shadow: 5px 5px 5px rgb(85, 81, 81);
 text-align: center;
}
.search {
  position: absolute;
  top: 35px;
  padding: 15px 25px;
  background-color: rgb(160, 192, 223);
  border-radius: 15px;
  border: unset;
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 35px;
  box-shadow: 5px 5px 5px rgb(78, 75, 75);
}
div.box2 {
  width: 100%;
  height: 300px;
  font-family: sans-serif;
  text-align: center;
  line-height: 60px;
  padding-top: 30px;
  font-size: 20px;
}
#image {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
#barani {
  display: none;
}
#abri {
  display: none;
}
#aftabi {
  display: none;
}
#barfi {
  display: none;
}
